header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
    width:300px;
}


#api_status{
    background-color: #cccccc;
    height: 40px;
    width: 40px;
    margin-right: 30px;
    border-radius: 50px;
    border-radius: 40px;
    vertical-align: center;
}

.available{
    background-color:#ff545f !important;
}